<a href="https://colab.research.google.com/github/bobbykawade/Google_Colab_Python_Practice_BK/blob/main/Python%20Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Running my first code
var = "Hello World"
print(var)

Hello World

In [6]:
# Creating a Dataframe

import pandas as pd
import numpy as np

In [9]:
dict1 = {'id':[1,2,3,4,5], 'Name': ['Rahul', 'Amit', 'Aman', 'Mitali', 'Bob']}
df = pd.DataFrame(dict1)
print(df)

   id    Name
0   1   Rahul
1   2    Amit
2   3    Aman
3   4  Mitali
4   5     Bob

# List

In [10]:
li = [1,2,3,4,5,6,7,8,9,10]
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
li.pop()

10

In [12]:
li

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
li.append(10)
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 10]

In [15]:
li.pop(10)
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## If Else Condition Practice

In [7]:
Age = 20

if (Age > 21):
   print("Eligible for Voting")

else:
  print("Not Eligible")

Not Eligible

In [10]:
Age = int(input("Enter the Age: "))

if (Age > 21):
   print("Eligible for Voting")

else:
  print("Not Eligible")

Enter the Age: 34
Eligible for Voting

In [14]:
# Print the Marks as well as the Percentage

marks = int(input("Enter your marks: "))
passing = 40

if (marks > 40):
  percentage = (marks/100)*100
  print("You are passed with percentage:", percentage)
else:
  print("You are not passed")

Enter your marks: 57
You are passed with percentage: 56.99999999999999

In [18]:
# Applying more than one condition

color = input('My Favorite color' )

if ((color == 'red') or (color == 'green') or (color == 'blue')):
  print('My favorite color')

else:
  print('Not my favorite color')

My Favorite colorgreen
My favorite color

In [24]:
# if num is in between [1,10] then square it, if num is in between [11,20] then cube it else print the number

num = int(input("Enter the number: " ))

if ((num >= 1) and (num<= 10)):
  res = num ** 2
  print("The result is square of: ",res)

elif ((num>= 11) and (num<= 20)):
  res = num ** 3
  print("The Result is cube of: ",res)

else:
  print("The result is: ",num)

Enter the number: 5
The result is square of:  25

## Loops

In [25]:
# Print 5 times Hello World

for i in range(1,6):
  print("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World

In [29]:
# Take the number from the users

n = int(input("Enter the total number you want in the list "))
li = []
for i in range(1, (n+1)):
  num = int(input("Enter the number you wish to add "))
  li.append(num)

Enter the total number you want in the list 5
Enter the number you wish to add 1
Enter the number you wish to add 2
Enter the number you wish to add 3
Enter the number you wish to add 4
Enter the number you wish to add 5

In [30]:
print(li)

[1, 2, 3, 4, 5]

In [ ]:
# Add [1,50] in the list

li = []
for i in range(1,51):
  print(i)
  li.append(i)

In [33]:
#print(li)
len(li)

50

In [35]:
# Print all odd numbers between [1,10]

for j in range(1,10,2):
  print(j)

1
3
5
7
9

In [36]:
# Print all even numbers between [0,10]

for e in range(0,11,2):
  print(e)

0
2
4
6
8
10

In [ ]:
# Nested Loop

for i in range(1,6):
  for j in range(1,6):
    print("The value of i: ", i)
    print("The value of j:", j)
  print("-------------------------")

In [45]:
#
#Print this pattern
# *
# * *
# * * *
# * * * *
# * * * *
#5-0 = 5, 6-1 =5

rows = 5
column = 5

for i in range(1,6):
  for j in range (1, (i+1)):
    print("*", end=" ")
  print()

*
* *
* * *
* * * *
* * * * *

In [49]:
# Access the value in the list
l = [1,2,3,4,5]

for i in range(0, len(l)):
  l[i] = l[i]** 2

print(l)
print(l[i])

[1, 4, 9, 16, 25]
25

## While loop

### Applied whenever you don't know how many times you are running the loop

In [50]:
ch = "y"

while (ch == "y"):
  print("Let's play the game" )
  ch = input("Enter your choice to play the game y/n ")

Let's play the game
Enter your choice to play the game y/n y
Let's play the game
Enter your choice to play the game y/n y
Let's play the game
Enter your choice to play the game y/n n

In [58]:
##

num = 1

while (num<= 6):
  print(num)
  num = num + 1

1
2
3
4
5
6

In [60]:
# Break Condition - exits the loop prematurely

val = int(input("Enter the number "))
num = 1

while (num<= 10):
  if (num == val):
    break
  else:
    print(num)
  num = num + 1

Enter the number 5
1
2
3
4

In [61]:
# Continue Condition - skips the current iteration

val1 = 5

for i in range(1,11):
  if (i==val1):
    continue
  else:
    print(i)

1
2
3
4
6
7
8
9
10