<a href="https://colab.research.google.com/github/bobbykawade/Google_Colab_Python_BK/blob/main/Python%20Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Running my first code
var = "Hello World"
print(var)

Hello World

In [6]:
# Creating a Dataframe

import pandas as pd
import numpy as np

In [9]:
dict1 = {'id':[1,2,3,4,5], 'Name': ['Rahul', 'Amit', 'Aman', 'Mitali', 'Bob']}
df = pd.DataFrame(dict1)
print(df)

   id    Name
0   1   Rahul
1   2    Amit
2   3    Aman
3   4  Mitali
4   5     Bob

# List

In [10]:
li = [1,2,3,4,5,6,7,8,9,10]
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
li.pop()

10

In [12]:
li

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
li.append(10)
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 10]

In [15]:
li.pop(10)
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## If Else Condition Practice

In [7]:
Age = 20

if (Age > 21):
   print("Eligible for Voting")

else:
  print("Not Eligible")

Not Eligible

In [10]:
Age = int(input("Enter the Age: "))

if (Age > 21):
   print("Eligible for Voting")

else:
  print("Not Eligible")

Enter the Age: 34
Eligible for Voting

In [14]:
# Print the Marks as well as the Percentage

marks = int(input("Enter your marks: "))
passing = 40

if (marks > 40):
  percentage = (marks/100)*100
  print("You are passed with percentage:", percentage)
else:
  print("You are not passed")

Enter your marks: 57
You are passed with percentage: 56.99999999999999